<!DOCTYPE html>
<html>
  <head>
  {% include "html-head-2" %}
  </head>
  <body>
    <div class="wrap">
      {% include "päis" %}
      
      <section class="site-section pt-5 pb-5">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              
              
      <section class="site-section py-sm">
        <div class="container">
          <div class="row">

          </div>
          <div class="row blog-entries">
            <div class="col-md-12 col-lg-8 main-content">
              <div class="row">
              
              <div class="content">

                <h2>{% content name="common-page-title" %}</h2>
                <p>{% content name="common-page-text" %}</p>


              </div>
              </div>
              </div>

            

            <!-- END main-content -->

            {% include "sidebar" %}

          </div>
        </div>
      </section>
              
            </div>
          </div>
          
        </div>
      </section>
      
      {% include "jalus" %}
    </div>
    {% include "javascripts" %}
  </body>
</html>